<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Contoso demo account email verification code</title>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <style>
        table td {
            border-collapse: collapse;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body dir="ltr" lang="en">
    <div style="font-family:'Segoe UI', Tahoma, sans-serif; font-size:14px; color:#333;">
        <span id="BodyPlaceholder_UserVerificationEmailBodySentence1">  Sincèrement, </span>
    </div>
    <br />

    <div style="font-family:'Segoe UI', Tahoma, sans-serif; font-size:14px; font-style:italic; color:#333;">

        UMG Azure B2C NonProd
    </div>

</body>
</html> 