<html lang="en">
<head>

    <title>Sign up or sign in</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://authx-assets-dev.azureedge.net/assets/universal-logo-150x150.png" sizes="32x32">

    <style>
        @import url("https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css");
        @import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&amp;display=swap");

        @import url("https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/css/site.css");
        @import url("https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/css/default_signup_signin.css");

        body, .page {
            /*height: 100vh !important;*/ /* You must set a specified height */

            background-position: center; /* Center the image */

            background-repeat: no-repeat; /* Do not repeat the image */

            background-size: cover; /* Resize the background image to cover the entire container */
        }
    </style>
</head>
<body style="">
    <noscript><div id="no_js"><div class="error_container"><div><h1>We can't sign you in</h1><p>Your browser is currently set to block JavaScript. You need to allow JavaScript to use this service.</p><p>To learn how to allow JavaScript or to find out whether your browser supports JavaScript, check the online help in your web browser.</p></div></div></div></noscript><div id="no_cookie" class="no_display">
        <div class="error_container">
            <div>
                <h1>We can't sign you in</h1><p>Your browser is currently set to block cookies. You need to allow cookies to use this service.</p><p>Cookies are small text files stored on your computer that tell us when you're signed in. To learn how to allow cookies, check the online help in your web browser.</p>
                <script nonce="kkHXhu2FN3zC8wLLM/snBQ==">if (!navigator.cookieEnabled) document.getElementById('no_cookie').className = ''; if (typeof $diags !== 'undefined') $diags.initializationSuccessful = true;</script>
            </div>
        </div>
    </div>
    <noscript><div id="no_js"><div class="error_container"><div><h1>We can't sign you in</h1><p>Your browser is currently set to block JavaScript. You need to allow JavaScript to use this service.</p><p>To learn how to allow JavaScript or to find out whether your browser supports JavaScript, check the online help in your web browser.</p></div></div></div></noscript><div id="no_cookie" class="no_display"><div class="error_container"><div><h1>We can't sign you in</h1><p>Your browser is currently set to block cookies. You need to allow cookies to use this service.</p><p>Cookies are small text files stored on your computer that tell us when you're signed in. To learn how to allow cookies, check the online help in your web browser.</p></div></div></div>
    <img data-tenant-branding-background="true" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/BackgroundImage/oscar-keys-medium1.jpg">
    <div class="panel-body">
        <div class="container">
            <div class="row company-logo">
                <!--<img data-tenant-branding-logo="true" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/Logo/umg-logo%402x.png">-->


                <img src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/Logo/logo.ee7cd8ed.svg" class="App-logo" alt="logo">


            </div>
            <div id="api" data-name="Unified" class="row">

                <div class="col-lg-6 col-md-6 col-xs-12 local-container">
                    <form id="usernamePasswordForm" data-id="usernamePasswordForm" class="localAccount" aria-label="Sign in with your existing account">

                        <div class="intro">
                            <h2>
                                Sign in with your existing account
                            </h2>
                        </div>
                        <div class="error pageLevel" aria-hidden="true" role="alert" style="display: none;">
                            <p></p>
                        </div>
                        <div class="entry">
                            <div class="entry-item">
                                <label for="signInName">
                                    Email Address
                                </label>
                                <div class="error itemLevel" aria-hidden="true" role="alert" style="display: none;">
                                    <p></p>
                                </div>
                                <!--<input type="email" title="Please enter a valid email address." id="signInName"
                                name="Sign in name"
                                pattern="^[a-zA-Z0-9.!#$%&amp;’'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                placeholder="Email Address" value="" aria-label="Email Address">-->
                                <input class="form-control"
                                       type="text" pattern="^[a-zA-Z0-9.!#$%&amp;’'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                       id="username" aria-label="Email Address"
                                       name="username"
                                       placeholder="Email Address"
                                       autocomplete="off"
                                       value=""
                                       data-id="username-input" />

                            </div>
                            <div class="entry-item">
                                <div class="password-label">
                                    <label for="password">Password</label>

                                    <!--<button class="" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="usernamePasswordForm"
                                            data-skbuttonvalue="forgotPassword" style="background: none!important; color:#337ab7; border:none; position: absolute; bottom: 0; left:0; clear:right; float: right; text-align: right; cursor: pointer">
                                        Forgot your password?
                                    </button>-->



                                </div>
                                <div class="error itemLevel" aria-hidden="true" style="display: none;">
                                    <p role="alert"></p>
                                </div>
                                <!--<input type="password" id="password" name="Password" placeholder="Password" aria-label="Password">-->
                                <input class="form-control"
                                       type="password"
                                       id="password"
                                       name="password" aria-label="Password"
                                       placeholder="Password"
                                       autocomplete="off"
                                       data-id="password-input" />





                            </div>


                            <button type="submit" style="margin-right:290px; margin-bottom:0px;margin-top:0px" class="btn btn-link" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="usernamePasswordForm" data-skbuttonvalue="forgotPassword">
                                Forgot your password?
                            </button>

                            <div class="working"></div>
                            <div class="buttons">
                                <!-- <button id="next" type="submit" form="localAccountForm">Sign in</button>-->

                                <button data-id="button"
                                        type="submit"
                                        class="btn btn-primary mb-3"
                                        data-skcomponent="skbutton"
                                        data-skbuttontype="form-submit"
                                        data-skform="usernamePasswordForm"
                                        data-skbuttonvalue="submit">
                                    Sign in
                                </button>
                            </div>
                        </div>
                        <div class="divider">
                            <h2>OR</h2>
                        </div>
                        <!-- <div class="create">
                            <p>

                                <button type="submit" class="btn btn-link" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="usernamePasswordForm" data-skbuttonvalue="registerUser">
                                    Don't have an account?  Sign up now!
                                </button>
                            </p>
                        </div> -->
                    </form>




                    <!--<form id="usernamePasswordForm" data-id="usernamePasswordForm">



                        <div class="mb-4 form-floating">
                            <input class="form-control"
                                   type="text"
                                   id="username"
                                   name="username"
                                   placeholder="Username"
                                   autocomplete="off"
                                   value=""
                                   data-id="username-input" /><label class="form-label" for="username">Username</label>
                        </div>


                        <div class="mb-4 form-floating">
                            <input class="form-control"
                                   type="password"
                                   id="password"
                                   name="password"
                                   placeholder="Password"
                                   autocomplete="off"
                                   data-id="password-input" /><label class="form-label" for="username">Password</label>
                        </div>
                        <div class="d-flex flex-column mt-5">
                            <button data-id="button"
                                    type="submit"
                                    class="btn btn-primary mb-3"
                                    data-skcomponent="skbutton"
                                    data-skbuttontype="form-submit"
                                    data-skform="usernamePasswordForm"
                                    data-skbuttonvalue="submit">
                                Sign On
                            </button>
                            <button type="submit"
                                    class="btn btn-link"
                                    data-skcomponent="skbutton"
                                    data-skbuttontype="form-submit"
                                    data-skform="usernamePasswordForm"
                                    data-skbuttonvalue="forgotPassword">
                                Forgot Password
                            </button>
                            <button type="submit" class="btn btn-link" data-skcomponent="skbutton" data-skbuttontype="form-submit" data-skform="usernamePasswordForm" data-skbuttonvalue="registerUser">
                                No account?  Register now!
                            </button>
                        </div>
                    </form>-->
























                </div><div class="social col-lg-6 col-md-6 col-xs-12" aria-label="Sign in using another account" role="form">
                    <div class="intro">
                        <h2>Sign in using another account</h2>
                    </div><label id="account_title_signin" class="social-title">Select an account to sign in</label>
                    <div class="options" style="display: flex; flex-direction: column; width: 50%">
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 social-button">
                            <button class="accountButton firstButton" id="FacebookExchange">Facebook</button>
                        </div>-->
                        <div>
                            <button class="accountButton" id="SpotifyExchange" style="color: #000;">Spotify</button>
                        </div>
                        <div>
                            <button class="accountButton" id="AppleExchange" style="color: #000;">Apple</button>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 social-button">
                            <button class="accountButton" id="TwitterExchange">Twitter</button>
                        </div>-->
                        <div>
                            <button class="accountButton" id="GoogleExchange" style="color: #000;">Google</button>
                        </div>
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 social-button">
                            <button class="accountButton" id="AmazonExchange">Amazon</button>
                        </div>-->
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 social-button">
                            <button class="accountButton" id="MicrosoftAccountExchange">Microsoft</button>
                        </div>-->
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 social-button">
                            <button class="accountButton" id="DiscordExchange">Discord</button>
                        </div>-->
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 social-button">
                            <button class="accountButton" id="LineExchange">Line</button>
                        </div>-->
                        <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 social-button">
                            <button class="accountButton" id="AmazonjpExchange">Amazon Jp</button>
                        </div>-->
                        <div>

                        </div>
                    </div>
                </div>

                <div class="divider">
                    <h2>OR</h2>
                </div>


            </div>
            <div class="row margin-bottom margin-top">
                <span class="footer-text">By submitting, you agree to the <a href="https://privacypolicy.umusic.com/" target="_blank">Universal Music Group Privacy Policy</a></span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/site.js" data-preload="true"></script>
    <script type="text/javascript" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/default_signup_signin.js" data-preload="true"></script>
    <script type="text/javascript" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/common.js" data-preload="true"></script>


    <div id="piggyWrapper" style="position: fixed; top: 0px; right: 0px; line-height: initial; z-index: 2147483647; width: auto; font-family: &quot; Open Sans&quot;, sans-serif; font-size: initial; display: block;"></div>
</body>
</html>