<html lang="en">
<head>

    <title>Admin Console sign in</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://authx-assets-dev.azureedge.net/assets/universal-logo-150x150.png" sizes="32x32">

    <style>
        @import url("https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css");
        @import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&amp;display=swap");

        @import url("https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/css/site.css");
        @import url("https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/css/default_signin_invite_admin.css");

        body, .page {
            /*height: 100vh !important;*/ /* You must set a specified height */

            background-position: center; /* Center the image */

            background-repeat: no-repeat; /* Do not repeat the image */

            background-size: cover; /* Resize the background image to cover the entire container */
        }
    </style>
</head>
<body style="">
    <noscript><div id="no_js"><div class="error_container"><div><h1>We can't sign you in</h1><p>Your browser is currently set to block JavaScript. You need to allow JavaScript to use this service.</p><p>To learn how to allow JavaScript or to find out whether your browser supports JavaScript, check the online help in your web browser.</p></div></div></div></noscript><div id="no_cookie" class="no_display">
        <div class="error_container">
            <div>
                <h1>We can't sign you in</h1><p>Your browser is currently set to block cookies. You need to allow cookies to use this service.</p><p>Cookies are small text files stored on your computer that tell us when you're signed in. To learn how to allow cookies, check the online help in your web browser.</p>
                <script nonce="kkHXhu2FN3zC8wLLM/snBQ==">if (!navigator.cookieEnabled) document.getElementById('no_cookie').className = ''; if (typeof $diags !== 'undefined') $diags.initializationSuccessful = true;</script>
            </div>
        </div>
    </div>
    <noscript><div id="no_js"><div class="error_container"><div><h1>We can't sign you in</h1><p>Your browser is currently set to block JavaScript. You need to allow JavaScript to use this service.</p><p>To learn how to allow JavaScript or to find out whether your browser supports JavaScript, check the online help in your web browser.</p></div></div></div></noscript><div id="no_cookie" class="no_display"><div class="error_container"><div><h1>We can't sign you in</h1><p>Your browser is currently set to block cookies. You need to allow cookies to use this service.</p><p>Cookies are small text files stored on your computer that tell us when you're signed in. To learn how to allow cookies, check the online help in your web browser.</p></div></div></div>
    <img data-tenant-branding-background="true" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/BackgroundImage/oscar-keys-medium1.jpg">
    <div class="panel-body">
        <div class="container">
            <div class="row company-logo">
                <!--<img data-tenant-branding-logo="true" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/Logo/umg-logo%402x.png">-->

                <img style="height:120px" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/Logo/logo.ee7cd8ed.svg" class="App-logo" alt="logo">


            </div>
            <div id="api" data-name="Unified" class="row">

                <div class="">
                    <form id="usernamePasswordForm" data-id="usernamePasswordForm" class="localAccount" aria-label="Admin Console">
                       
                            <div class="intro">
                                <h2>
                                   Admin Console
                                </h2>
                            </div>
                            <div class="error pageLevel" aria-hidden="true" role="alert" style="display: none;">
                                <p></p>
                            </div>
                            <div class="entry">
                                <div class="entry-item">
                                    <label for="signInName">
                                        Email Address
                                    </label>
                                    <div class="error itemLevel" aria-hidden="true" role="alert" style="display: none;">
                                        <p></p>
                                    </div>
                                                                       <input class="form-control"
                                           type="text" pattern="^[a-zA-Z0-9.!#$%&amp;’'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                           id="username" aria-label="Email Address"
                                           name="username"
                                           placeholder="Email Address"
                                           autocomplete="off"
                                           value=""
                                           data-id="username-input" />

                                </div>
                                <div class="entry-item">

                                    <div class="error itemLevel" aria-hidden="true" style="display: none;">
                                        <p role="alert"></p>
                                    </div>
                                    <label for="password">
                                        password
                                    </label>
                                    <input class="form-control"
                                           type="password"
                                           id="password"
                                           name="password" aria-label="Password"
                                           placeholder="Password"
                                           autocomplete="off"
                                           data-id="password-input" />





                                </div>
                                <div class="working"></div>
                                <div class="buttons">
                                

                                    <button data-id="button"
                                            type="submit"
                                            class="btn btn-primary mb-3"
                                            data-skcomponent="skbutton"
                                            data-skbuttontype="form-submit"
                                            data-skform="usernamePasswordForm"
                                            data-skbuttonvalue="submit">
                                        Sign in
                                    </button>
                                </div>
                            </div>
                          
                        </form>
                    </div>
                

            </div>
          
        </div>
    </div>
    <script type="text/javascript" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/site.js" data-preload="true"></script>
    <script type="text/javascript" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/default_signup_signin.js" data-preload="true"></script>
    <script type="text/javascript" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/common.js" data-preload="true"></script>


    <div id="piggyWrapper" style="position: fixed; top: 0px; right: 0px; line-height: initial; z-index: 2147483647; width: auto; font-family: &quot; Open Sans&quot;, sans-serif; font-size: initial; display: block;"></div>
</body>
</html>