<html lang="en">
<head>
    <title>Sign up </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href=https://authx-assets-dev.azureedge.net/assets/universal-logo-150x150.png sizes="32x32">
    <style>
        @import url(https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css);
        @import url(https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&amp;display=swap);
        @import url(https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/css/site.css);
        @import url(https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/css/default_signup.css);
        @import url(https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/css/mfa_phone.css);
        
        body,
        .page {
            /*height: 100vh !important;*/
            /* You must set a specified height */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
        }
    </style>
</head>
<body style="">
    <img data-tenant-branding-background="true" src=https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/BackgroundImage/oscar-keys-medium.jpg>
    <div class="panel-body">
        <div class="container  self_asserted_container ">
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!--<img alt="Company Logo" class="companyLogo" data-tenant-branding-logo="true" src=https://authx-assets-dev.azureedge.net/assets/umg-logo%402x.png>-->
                            <!--   <img src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/Logo/logo.ee7cd8ed.svg" class="App-logo" alt="logo">-->

                            <img src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/Logo/logo.ee7cd8ed.svg" class="App-logo" alt="logo">


                            <div id="api" data-name="SelfAsserted">
                                <div class="intro">
                                    <p>Please provide the following details.</p>
                                </div>
                                <!-- <form id="attributeVerification" data-id="registrationForm">-->
                                <form id="registrationForm" data-id="registrationForm">
                                    <div id="passwordEntryMismatch" class="error pageLevel" style="display: none;" aria-hidden="true">The password entry fields do not match. Please enter the same password in both fields and try again.</div>
                                    <div id="requiredFieldMissing" class="error pageLevel" style="display: none;" aria-hidden="true">A required field is missing. Please fill out all required fields and try again.</div>
                                    <div id="fieldIncorrect" class="error pageLevel" style="display: none;" aria-hidden="true">One or more fields are filled out incorrectly. Please check your entries and try again.</div>
                                    <div id="claimVerificationServerError" class="error pageLevel" style="display: none;" aria-hidden="true"></div>
                                    <div id="attributeList" class="attr">
                                        <ul>
                                            <li class="TextBox" id="id-null">
                                                <div class="attrEntry">
                                                    <div>
                                                        <div class="verificationInfoText" id="email_intro" style="display: inline;" aria-hidden="false" role="alert" aria-live="polite">Start by verifying your email address</div>
                                                        <div class="verificationInfoText" id="email_info" style="display:none" aria-hidden="true" role="alert">Verification code has been sent to your inbox. Please copy it to the input box below.</div>
                                                        <div class="verificationSuccessText" id="email_success" style="display:none" aria-hidden="true" role="alert">E-mail address verified. You can now continue.</div>
                                                    </div>
                                                    <label id="email_label" for="email">Email Address</label>
                                                    <div class="error itemLevel" role="alert"></div>
                                                    <!-- <input id="email" class="textInput" type="text" placeholder="Email Address" aria-label="Email Address" pattern="^[a-zA-Z0-9.!#$%&amp;'^_`{}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" title="Email address that can be used to contact you" aria-required="true">-->
                                                    <!--<input class="textInput" type="text" data-id="email-input" id="email" name="email" placeholder="Email Address" autocomplete="off" />-->
                                                    <input class="textInput"
                                                           type="text"
                                                           data-id="email-input"
                                                           id="email"
                                                           name="email"
                                                           placeholder="Email Address"
                                                           autocomplete="off" />



                                                </div>
                                            </li>
                                            <li class="Password" id="id-newPassword">
                                                <div class="attrEntry">
                                                    <label id="newPassword_label" for="newPassword">New Password</label>
                                                    <div class="error itemLevel" role="alert"></div>
                                                    <!--   <input id="newPassword" class="textInput" type="password" placeholder="New Password" aria-label="New Password" pattern="^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)|(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]))([A-Za-z\d@#$%^&amp;*\-_+=[\]{}|\\:',?/`~&quot;();!]|\.(?!@)){8,16}$" title="Enter new password" aria-required="true">-->
                                                    <!--<input class="form-control" type="password" placeholder="Password" autocomplete="off" data-id="password-input" id="password" name="password" />-->
                                                    <input class="textInput"
                                                           type="password"
                                                           placeholder="Password"
                                                           autocomplete="off"
                                                           data-id="password-input"
                                                           id="password"
                                                           name="password" />

                                                </div>
                                            </li>

                                            <li class="TextBox" id="id-givenName">
                                                <div class="attrEntry">
                                                    <label id="givenName_label" for="givenName">First Name</label>
                                                    <div class="error itemLevel" role="alert"></div>

                                                    <!--<input class="textInput" type="text" placeholder="First Name" autocomplete="off" data-id="firstName-input" id="firstName" name="firstName" />-->

                                                    <input name="firstName" id="firstName" data-id="firstName-input" autocomplete="off" placeholder="First Name" type="text" value="" style="margin-left:17px">


                                                </div>
                                            </li>
                                            <li class="TextBox" id="id-displayName">
                                                <div class="attrEntry">
                                                    <label id="displayName_label" for="displayName">Last Name</label>
                                                    <div class="error itemLevel" role="alert"></div>
                                                    <!-- <input id="displayName" class="textInput" type="text" placeholder="Display Name" aria-label="Display Name" title="Your display name">-->
                                                    <!-- <input class="form-control" type="text" placeholder="Last Name" autocomplete="off" data-id="lastName-input" id="lastName" name="lastName" />-->
                                                    <input name="lastName" id="lastName" data-id="lastName-input" style="margin-left:17px" autocomplete="off" placeholder="Last Name" type="text" class="" value="">


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="buttons">
                                        <button id="continue" data-skbuttontype="form-submit" data-skform="registrationForm" data-skbuttonvalue="submit" data-skcomponent="skbutton" data-id="submit-button" type="submit" form="attributeVerification" aria-label="Create"> Create </button>
                                        <button id="cancel" aria-label="Cancel" formnovalidate="">Cancel</button>
                                    </div>

                                    <div class="verifying-modal">
                                        <div id="verifying_blurb"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <typescript> @import url(https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/site.js) @import url(https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/default_signup_signin.js) @import url(https://azr47-us-authx-ui-devlocal.azurewebsites.net/c7f3fc1f-8741-4151-bbb6-8b2059c4fff1/js/common.js) </typescript>
    <div id="piggyWrapper" style="position: fixed; top: 0px; right: 0px; line-height: initial; z-index: 2147483647; width: auto; font-family: &quot; Open Sans&quot;, sans-serif; font-size: initial; display: block;"></div>
</body>
</html>
