<html>
<head>
    <title>MFA-Option </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href=https://authx-assets-dev.azureedge.net/assets/universal-logo-150x150.png sizes="32x32">
    <style>
        @import url("https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css");
        @import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&amp;display=swap");

        @import url("https://azr47-us-authx-ui-devlocal.azurewebsites.net/03781782-2c30-4e75-b72e-9afb59c17d4d/css/site.css");
        @import url("https://azr47-us-authx-ui-devlocal.azurewebsites.net/03781782-2c30-4e75-b72e-9afb59c17d4d/css/default_signup_signin.css");

        body,
        .page {
            /*height: 100vh !important;*/
            /* You must set a specified height */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            /* Resize the background image to cover the entire container */
        }
    </style>
</head>
<body style="">

    <img data-tenant-branding-background="true" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/03781782-2c30-4e75-b72e-9afb59c17d4d/BackgroundImage/oscar-keys-medium.jpg">

    <div class="panel-body">
        <div class="container" style="width:400px">
            <div class="row company-logo">
                <img data-tenant-branding-logo="true" src="https://azr47-us-authx-ui-devlocal.azurewebsites.net/03781782-2c30-4e75-b72e-9afb59c17d4d/Logo/umg-logo%402x.png">
            </div>
            <div id="api" data-name="Unified" class="row">

                <div style="max-width: 400px; width: 100%">
                    <div class="">

                        <div class="">







                            <!--<img class="align-self-center mb-5" src=" companyLogo {{global.variables.companyLogo}}✕" alt="companyName {{global.variables.companyName}}
    ✕" style="width: 65px; height: 65px;" />-->
                            <!--  <img alt="Company Logo" class="companyLogo" data-tenant-branding-logo="true" src=https://authx-assets-dev.azureedge.net/assets/umg-logo%402x.png>-->
                            <h3 class="text-center mb-4">
                                Account Recovery
                            </h3>

                            <p class="text-muted text-center">



                            </p>
                            <p class="text-danger mdi mdi-alert-circle" data-id="feedback" data-skcomponent="skerror"></p>
                            <form id="passRecovery"
                                  data-id="passRecovery">
                                <div class="mb-4 form-floating">
                                    <input class="form-control"
                                           type="text"
                                           id="otp"
                                           name="otp"
                                           placeholder="Password Recovery Code"
                                           autocomplete="off"
                                           value=""
                                           data-id="otp-input" />
                                    <label class="form-label"
                                           for="otp">Password Recovery Code</label>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input class="form-control"
                                           type="password"
                                           name="newPassword"
                                           autocomplete="off"
                                           data-id="newPassword-input"
                                           id="newPassword"
                                           placeholder="New Password" />
                                    <label class="form-label"
                                           for="newPassword">New Password</label>
                                </div>
                                <div class="mb-4 form-floating">
                                    <input class="form-control"
                                           type="password"
                                           name="verifyNewPassword"
                                           autocomplete="off"
                                           data-id="verifyNewPassword-input"
                                           id="verifyNewPassword"
                                           placeholder="Verify New Password" /><label class="form-label"
                                                                                      for="verifyNewPassword">Verify New Password</label>
                                    <p id="verifyNewPWErrMsg" class="text-danger mdi mdi-alert-circle d-none mt-1"></p>
                                </div>
                                <div class="d-flex flex-column mt-5">
                                    <button id="submitBtn"
                                            data-id="submitBtn"
                                            type="submit"
                                            class="btn btn-primary mb-3"
                                            data-skcomponent="skbutton"
                                            data-skbuttontype="form-submit"
                                            data-skform="passRecovery"
                                            data-skbuttonvalue="submit">
                                        Reset my Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div> 
        </div>
                </div>
            
</body>
</html>