<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Glegoo&display=swap" rel="stylesheet">
    <style>
        /*@import url("https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css");*/

        /*@import url("https://azr47-us-authx-ui-devlocal.azurewebsites.net/50125e77-3432-4dc9-8829-8a57061fab5f/js/animation.js");*/

        /*@import url("https://azr47-us-authx-ui-devlocal.azurewebsites.net/50125e77-3432-4dc9-8829-8a57061fab5f/css/default_signup.css");*/

        body {
            /*height: 100vh !important;*/
            /* You must set a specified height */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: cover;
            background-image: url('https://azr47-us-authx-ui-devlocal.azurewebsites.net/50125e77-3432-4dc9-8829-8a57061fab5f/BackgroundImage/bg-img.png');
            /* Resize the background image to cover the entire container */
        }
    </style>
</head>
<body>
    <table dir="ltr" lang="en" border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td valign="top" width="50%">&nbsp;</td>
                <td valign="top">
                    <!-- Email Header -->
                    <table dir="ltr" lang="en" border="0" width="640" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="1">&nbsp;</td>
                                <td width="24">&nbsp;</td>
                                <td style="padding: 12px 0;" valign="middle" align="center"><img style="display:block" src="https://umg-assets-dev.azureedge.net/assets/umg-logo%402x.gif" alt="{{ default-company }}" width="200" height="74" /></td>
                                <td width="24">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Email Content -->
                    <table dir="ltr" lang="en" border="0" width="640" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="1">&nbsp;</td>
                                <td width="24">&nbsp;</td>
                                <td colspan="2" valign="top" width="640">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="font-size: 10pt; line-height: 13pt; color: #000;" width="630">
                                                    <table dir="ltr" lang="en" border="0" width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div style="font-family: 'Glegoo', serif; font-size: 16px; color: #000000; margin-top: 50px; font-weight: bold;" align="center">You are invited to pingonedemos3  </div>
                                                                    <div style="font-family: 'Glegoo', serif; font-size: 12px; color: #000000; margin-top: 20px;" align="center"> Please click the button below to create your account.</div>
                                                                    <div style="font-family: 'Glegoo', serif; font-size: 16px; color: #000000; margin-top: 40px;" align="center"><a style="color:#FFFFFF;background: #2BB3E2;padding: 11px 80px; cursor: pointer; text-decoration: none;" href={{local.99lbefokm3.payload.output.continueLink}}>Create Account</a></div>


                                                                    <div style="font-family: 'Glegoo', serif; font-size: 12px; color: #000000; margin-top: 60px;" align="center">Questions? Just reply to this email.</div>
                                                                    <br /><br />
                                                                    <div style="font-family: 'Glegoo', serif; font-size: 12px; color: #000000;" align="center">Sincerely</div>
                                                                    <div style="font-family: 'Glegoo', serif; font-size: 12px; color: #000000;font-weight: bold;" align="center">Universal Music Group</div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="1">&nbsp;</td>
                                <td width="1">&nbsp;</td>
                                <td width="1">&nbsp;</td>
                                <td valign="top" width="1">&nbsp;</td>
                                <td width="29">&nbsp;</td>
                                <td width="1">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="1">&nbsp;</td>
                                <td width="24">&nbsp;</td>
                                <td colspan="6" valign="top" width="585">&nbsp;</td>
                                <td width="29">&nbsp;</td>
                                <td width="1">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td valign="top" width="50%">&nbsp;</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
